* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Circe", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.top__nav {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 1em;
}

.top__nav .menu {
  margin: 0 30px 0 0;
}

@media (max-width: 500px) {
  .top__nav .menu #no--display {
    display: none;
  }
}

.top__nav .menu a {
  clear: right;
  text-decoration: none;
  color: #eeeeee;
  margin: 0 10px;
  line-height: 2em;
}

.top__nav .menu a:hover {
  color: #393e46;
}

.top__nav .menu a span {
  font-weight: bold;
}

@media (max-width: 500px) {
  .top__nav .menu a {
    display: block;
    margin: 0;
  }
}

@media (max-width: 500px) {
  .top__nav .menu {
    text-align: center;
    width: 100%;
    display: none;
  }
}

.top__nav label {
  font-size: 1.2em;
  display: none;
  width: 1.2em;
  float: right;
  color: #eeeeee;
}

@media (max-width: 500px) {
  .top__nav label {
    display: block;
    cursor: pointer;
  }
}

.top__nav #toggle {
  display: none;
}

@media (max-width: 500px) {
  .top__nav #toggle:checked + .menu {
    display: block;
  }
}

.bottom__nav {
  display: none;
}

.bottom__nav .title {
  font-size: 1.3em;
  font-weight: bold;
  color: #eeeeee;
}

.bottom__nav .button {
  padding: 0.3em 1em;
  color: #222831;
  border-radius: 0.5em;
  background-color: #eeeeee;
}

@media (max-width: 500px) {
  .bottom__nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
    bottom: 0;
    padding: 1em;
    background-color: #222831;
  }
}

@media (max-width: 500px) {
  .home {
    height: 100vh;
    width: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 1.2fr .8fr 1fr;
        grid-template-rows: 1.2fr .8fr 1fr;
        grid-template-areas: "spazio spazio" "titolo titolo" "sottotitolo sottotitolo";
  }
}

.home .container__spazio {
  grid-area: spazio;
  background-image: url(../imgs/bg4.png);
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  max-width: 100%;
  height: auto;
}

.home .container__titolo {
  grid-area: titolo;
  background-color: #eeeeee;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  padding: 1em;
}

.home .container__titolo .titolo {
  margin: 0;
  font-size: 3em;
  font-weight: 300;
}

.home .container__titolo .titolo span {
  font-weight: bold;
}

.home .container__sottotitolo {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-area: sottotitolo;
  background: url(../imgs/bg11.png);
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
}

.home .container__sottotitolo p {
  font-weight: 200;
  font-size: 1em;
  margin: 0;
}

.home .container__sottotitolo ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.home .container__sottotitolo ul li {
  font-size: 1.3em;
  display: inline-block;
  padding-right: 0.4em;
  font-weight: bold;
}

.home .container__sottotitolo ul li a {
  padding: .1em;
}

@media (max-width: 500px) {
  .chi-siamo {
    height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "immagine immagine" "testo testo" "spazio1 spazio1";
  }
}

.chi-siamo .container__up {
  grid-area: immagine;
  background-image: url(../imgs/bg3.png);
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  max-width: 100%;
  height: auto;
}

.chi-siamo .container__testo {
  background-color: #eeeeee;
  grid-area: testo;
  padding: 2em;
}

.chi-siamo .container__down {
  grid-area: spazio1;
  background-color: #eeeeee;
}
/*# sourceMappingURL=main.css.map */