* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: zeitung, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.top__nav {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.02);
}

.top__nav .menu {
  margin: 0 30px 0 0;
}

@media (max-width: 500px) {
  .top__nav .menu #no--display {
    display: none;
  }
}

.top__nav .menu a {
  clear: right;
  text-decoration: none;
  margin: 0 10px;
  line-height: 2em;
}

.top__nav .menu a:hover {
  color: #393e46;
}

.top__nav .menu a span {
  font-weight: bold;
}

@media (max-width: 500px) {
  .top__nav .menu a {
    display: block;
    margin: 0;
  }
}

@media (max-width: 500px) {
  .top__nav .menu {
    text-align: center;
    width: 100%;
    display: none;
  }
}

.top__nav label {
  display: none;
  float: right;
}

@media (max-width: 500px) {
  .top__nav label {
    display: block;
    cursor: pointer;
  }
}

.top__nav #toggle {
  display: none;
}

@media (max-width: 500px) {
  .top__nav #toggle:checked + .menu {
    display: block;
  }
}

.background {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
}

.background .set {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.background .set div {
  position: absolute;
  display: block;
}

.background .set div:nth-child(1) {
  top: 70%;
  left: 10%;
  width: 5%;
  -webkit-animation: moveY 2s linear infinite;
          animation: moveY 2s linear infinite;
}

.background .set div:nth-child(2) {
  left: 50%;
  width: 5%;
  top: 10%;
  -webkit-animation: moveY 4s linear infinite;
          animation: moveY 4s linear infinite;
}

.background .set div:nth-child(3) {
  top: 45%;
  left: 60%;
  width: 6%;
  -webkit-animation: moveY 4s linear infinite;
          animation: moveY 4s linear infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.background .set div:nth-child(4) {
  top: 25%;
  left: 5%;
  width: 10%;
  -webkit-animation: rotate-move 10s ease-in-out infinite;
          animation: rotate-move 10s ease-in-out infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.background .set div:nth-child(5) {
  top: 95%;
  left: 80%;
  width: 5%;
  -webkit-animation: moveX 2s linear infinite;
          animation: moveX 2s linear infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.background .set div:nth-child(6) {
  top: 82%;
  left: 50%;
  width: 4%;
  -webkit-animation: rotate 10s ease-in-out infinite;
          animation: rotate 10s ease-in-out infinite;
}

.background .set div:nth-child(7) {
  top: 50%;
  left: 20%;
  width: 5%;
  -webkit-animation: moveX 2s linear infinite;
          animation: moveX 2s linear infinite;
}

.background .set div:nth-child(8) {
  top: 60%;
  left: 88%;
  width: 5%;
  -webkit-animation: moveY 4s linear infinite;
          animation: moveY 4s linear infinite;
}

.background .set div:nth-child(9) {
  top: 90%;
  left: 65%;
  width: 5%;
  -webkit-animation: fall-from-top 50s linear infinite;
          animation: fall-from-top 50s linear infinite;
}

.background .set div:nth-child(10) {
  top: 90%;
  left: 20%;
  width: 5%;
  -webkit-animation: rotate-move 10s linear infinite;
          animation: rotate-move 10s linear infinite;
}

.background .set div:nth-child(11) {
  top: 20%;
  left: 80%;
  width: 5%;
  -webkit-animation: moveX 6s linear infinite;
          animation: moveX 6s linear infinite;
}

@-webkit-keyframes rotate-move {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate-move {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes fall-from-top {
  0% {
    top: -10%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  40% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 110%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes fall-from-top {
  0% {
    top: -10%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  40% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 110%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes moveY {
  0% {
  }
  50% {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
  100% {
  }
}

@keyframes moveY {
  0% {
  }
  50% {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
  100% {
  }
}

@-webkit-keyframes moveX {
  0% {
  }
  50% {
    -webkit-transform: translateX(40%);
            transform: translateX(40%);
  }
  100% {
  }
}

@keyframes moveX {
  0% {
  }
  50% {
    -webkit-transform: translateX(40%);
            transform: translateX(40%);
  }
  100% {
  }
}

.homepage {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "upper__title" "lower__title";
}

.homepage .upper__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: upper__title;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.homepage .upper__title .title {
  font-size: 3em;
  text-align: center;
}

.homepage .upper__title .title span {
  font-weight: bold;
}

.homepage .lower__title {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: lower__title;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage .lower__title p {
  font-size: 0.9em;
}

.homepage .lower__title a {
  font-size: 0.8em;
  font-weight: bold;
}
/*# sourceMappingURL=main.css.map */