* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: zeitung, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

/* ================= */
/* Loading Screen Styling */
.loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: #4bedc2;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleY(0) skewX(0);
          transform: scaleY(0) skewX(0);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}

/* Loading Screen Styling Ends */
.top__nav {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 1rem;
}

.top__nav .logo {
  font-weight: bold;
}

.top__nav .menu {
  font-size: 0.7rem;
}

@media (max-width: 500px) {
  .top__nav .menu #no--display {
    display: none;
  }
}

.top__nav .menu a {
  clear: right;
  line-height: 2rem;
}

.top__nav .menu a:hover {
  color: #393e46;
}

@media (max-width: 500px) {
  .top__nav .menu a {
    display: block;
    margin: 0;
  }
}

@media (max-width: 500px) {
  .top__nav .menu {
    text-align: center;
    width: 100%;
    display: none;
  }
}

.top__nav label {
  display: none;
  float: right;
}

@media (max-width: 500px) {
  .top__nav label {
    display: block;
    cursor: pointer;
  }
}

.top__nav #toggle {
  display: none;
}

@media (max-width: 500px) {
  .top__nav #toggle:checked + .menu {
    display: block;
  }
}

.background {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: fixed;
}

.background .set {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.background .set div {
  position: absolute;
  display: block;
}

.background .set div img {
  -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.1));
}

.background .set div:nth-child(1) {
  top: 70%;
  left: 10%;
  width: 3%;
  -webkit-animation: moveY 2s linear infinite;
          animation: moveY 2s linear infinite;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.background .set div:nth-child(2) {
  left: 50%;
  width: 2%;
  top: 10%;
  -webkit-animation: moveY 4s linear infinite;
          animation: moveY 4s linear infinite;
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}

.background .set div:nth-child(3) {
  top: 45%;
  left: 70%;
  width: 4%;
  -webkit-animation: moveY 4s linear infinite;
          animation: moveY 4s linear infinite;
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}

.background .set div:nth-child(4) {
  top: 25%;
  left: 5%;
  width: 5%;
  -webkit-animation: rotate 10s ease-in-out infinite;
          animation: rotate 10s ease-in-out infinite;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.background .set div:nth-child(5) {
  top: 95%;
  left: 80%;
  width: 3%;
  -webkit-animation: moveX 2s linear infinite;
          animation: moveX 2s linear infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.background .set div:nth-child(6) {
  top: 62%;
  left: 50%;
  width: 2%;
  -webkit-animation: rotate 10s ease-in-out infinite;
          animation: rotate 10s ease-in-out infinite;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.background .set div:nth-child(7) {
  top: 50%;
  left: 20%;
  width: 3%;
  -webkit-animation: moveX 2s linear infinite;
          animation: moveX 2s linear infinite;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.background .set div:nth-child(8) {
  top: 60%;
  left: 88%;
  width: 3%;
  -webkit-animation: moveY 4s linear infinite;
          animation: moveY 4s linear infinite;
}

.background .set div:nth-child(9) {
  top: 90%;
  left: 65%;
  width: 3%;
  -webkit-animation: fall-from-top 50s linear infinite;
          animation: fall-from-top 50s linear infinite;
}

.background .set div:nth-child(10) {
  top: 90%;
  left: 20%;
  width: 3%;
  -webkit-animation: rotate 10s linear infinite;
          animation: rotate 10s linear infinite;
}

.background .set div:nth-child(11) {
  top: 20%;
  left: 80%;
  width: 2%;
}

@-webkit-keyframes fall-from-top {
  0% {
    top: -10%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  40% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 110%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes fall-from-top {
  0% {
    top: -10%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  40% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 110%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes moveY {
  0% {
  }
  50% {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
  100% {
  }
}

@keyframes moveY {
  0% {
  }
  50% {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
  100% {
  }
}

@-webkit-keyframes moveX {
  0% {
  }
  50% {
    -webkit-transform: translateX(40%);
            transform: translateX(40%);
  }
  100% {
  }
}

@keyframes moveX {
  0% {
  }
  50% {
    -webkit-transform: translateX(40%);
            transform: translateX(40%);
  }
  100% {
  }
}

.homepage {
  padding: 3rem;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "upper__title" "lower__title";
}

.homepage .upper__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: upper__title;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.homepage .upper__title .title {
  margin: 0;
  font-size: 2.5rem;
}

.homepage .upper__title .title span {
  font-weight: bold;
}

.homepage .lower__title {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: lower__title;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homepage .lower__title .container p {
  font-size: 0.7rem;
  margin-bottom: 0;
}

.homepage .lower__title .container a {
  font-size: 0.6rem;
  font-weight: bold;
}

.chi-siamo {
  padding: 3rem;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chi-siamo .upper__title .title {
  margin: 0;
  font-size: 2.5rem;
  line-height: 2.8rem;
}

.chi-siamo .upper__title .title span {
  font-weight: bold;
}

.chi-siamo .lower__title .container {
  padding-top: 1em;
}

.chi-siamo .lower__title .container p {
  font-size: 0.7rem;
}

.servizi {
  padding: 3rem;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.servizi .upper__container .title {
  font-weight: bold;
  margin: 0;
  font-size: 2.5rem;
}

.servizi .lower__containers {
  margin-top: 1rem;
}

.servizi .lower__containers .set_containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.servizi .lower__containers .set_containers .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 90%;
      grid-template-columns: 10% 90%;
  padding-top: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servizi .lower__containers .set_containers .container img {
  width: 100%;
}

.servizi .lower__containers .set_containers .container p {
  border-left: 2px solid black;
  font-size: 0.7rem;
  margin: 0;
  padding: 0.6rem;
  margin-left: 1rem;
}

.servizi .lower__containers .frase_sotto {
  margin-top: 3rem;
  text-align: center;
  font-size: 0.7rem;
}

.servizi .lower__containers .frase_sotto a {
  font-weight: bold;
}

.portfolio {
  padding: 3rem;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .upper__container {
  margin-top: 100%;
}

.portfolio .upper__container .title {
  margin: 0;
  font-size: 2.5rem;
}

.portfolio .upper__container .title span {
  font-weight: bold;
}

.portfolio .lower__containers {
  margin-top: 2rem;
}

.portfolio .lower__containers .set_containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio .lower__containers .set_containers .container {
  padding-bottom: 3rem;
}

.portfolio .lower__containers .set_containers .container img {
  max-width: 100%;
}

.portfolio .lower__containers .set_containers .container p {
  font-size: 0.6rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
}

.underline--magical {
  background-image: linear-gradient(120deg, #faf884 0%, #edf48f 100%);
  background-repeat: no-repeat;
  background-size: 30% 0.5rem;
  background-position: 0 88%;
  -webkit-transition: background-size 0.25s ease-in;
  transition: background-size 0.25s ease-in;
}

.underline--magical:hover {
  background-size: 100% 88%;
}
/*# sourceMappingURL=main.css.map */