$colors: (
    portfolio: #ff971d,
    servizi: white,
    chi-siamo: #f9f6f7,
    contattaci: #ffe8d6,
    portfolio-inner: darken(#ff971d, 20%),
    servizi-inner:darken(white, 20%)
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

$desktop: 840px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

body{
    font-family: source-sans-pro,sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color:black;
}

@import url("https://use.typekit.net/lct1xkz.css");


.main__subtitle{
    font-size: 1.2em;
    font-weight: lighter;
    margin: 0;
    color: black;
}

.grid__container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.5fr;
    grid-template-rows: 1fr 4fr 3fr 2fr;

    grid-template-areas:
        "chi   portfolio    portfolio"
        "chi   portfolio    portfolio"
        "servizi    servizi     contatto"
        "servizi    servizi     contatto";
}

.servizi{
    grid-area: servizi;
    background-image: url("../img/servizi-grigio.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .inner{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
        clip-path: inset(100% 0% 0% 0%);
        transition: all .5s ease-out;

        i{
            font-size: 4em;
            color: white;
            box-shadow: 0 10px 30px rgba(0,0,0,.2);

        }
    }
    &:hover .inner {
        clip-path: inset(0% 0% 0% 0%);
        background: color(servizi-inner);
        height: 100%;
    }
}
    
.contattaci {
    grid-area: contatto;
    background: color(contattaci);
}

.chi-siamo {
    grid-area: chi;
    background: color(chi-siamo);
    
    .inner{
        display: grid;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        clip-path: inset(0% 100% 0% 0%);
        background-color: lightblue;
        transition: all .5s ease-out;

        h1{
            font-size: 5em;
            color: white;
            padding: .2em;
            margin: 0;
        }
    }
    &:hover .inner {
        clip-path: inset(0% 0% 0% 0%);
        background: #00B6FF;
        height: 100%;
    }
}

    
.portfolio{
    grid-area: portfolio;
    background-image: url("../img/portfolio.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .inner{
        display: grid;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        clip-path: inset(0% 0% 100% 0%);
        transition: all .5s ease-out;

        h1{
            font-size: 5em;
            color: white;
            padding: .2em;
            margin: 0;
        }
    }
    &:hover .inner {
        clip-path: inset(0% 0% 0% 0%);
        background: color(portfolio-inner);
        height: 100%;
    }
}
    


