//    SASS FUNCTIONS    //

$phone: 500px;

@mixin phone {
  @media (max-width: #{$phone}) {
    @content;
  }
}

//    GENERAL STYLING   //

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: zeitung, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

//    NAV'S STYLE   //

//    TOP NAVIGATION ON DESKTOP   //

.top__nav {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 1em;

  .menu {
    margin: 0 30px 0 0;

    #no--display {
      @include phone {
        display: none;
      }
    }
    a {
      clear: right;
      text-decoration: none;
      margin: 0 10px;
      line-height: 2em;

      &:hover {
        color: #393e46;
      }

      span {
        font-weight: bold;
      }

      @include phone {
        display: block;
        margin: 0;
      }
    }

    @include phone {
      text-align: center;
      width: 100%;
      display: none;
    }
  }
  label {
    display: none;
    float: right;

    @include phone {
      display: block;
      cursor: pointer;
    }
  }
  #toggle {
    display: none;

    @include phone {
      &:checked + .menu {
        display: block;
      }
    }
  }
}

// BACKGROUND //

.background {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;

  .set {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;

    div {
      position: absolute;
      display: block;
      
      img{
        filter: drop-shadow( 1px 1px 2px rgba(0, 0, 0, .1));
      }
      &:nth-child(1) {
        top: 70%;
        left: 10%;
        width: 3%;
        animation: moveY 2s linear infinite;
        animation-delay: 1.5s;
      }

      &:nth-child(2) {
        left: 50%;
        width: 2%;
        top: 10%;
        animation: moveY 4s linear infinite;
        animation-delay: 1.7s;
      }

      &:nth-child(3) {
        top: 45%;
        left: 70%;
        width: 4%;
        animation: moveY 4s linear infinite;
        animation-delay: 1.7s;
      }
      &:nth-child(4) {
        top: 25%;
        left: 5%;
        width: 5%;
        animation: rotate 10s ease-in-out infinite;
        animation-delay: 1.5s;
      }

      &:nth-child(5) {
        top: 95%;
        left: 80%;
        width: 3%;
        animation: moveX 2s linear infinite;
        animation-delay: 2s;
      }

      &:nth-child(6) {
        top: 82%;
        left: 50%;
        width: 2%;
        animation: rotate 10s ease-in-out infinite;
        animation-delay: 1.6s;
      }
      &:nth-child(7) {
        top: 50%;
        left: 20%;
        width: 3%;
        animation: moveX 2s linear infinite;
        animation-delay: 1.5s;
      }

      &:nth-child(8) {
        top: 60%;
        left: 88%;
        width: 3%;
        animation: moveY 4s linear infinite;
      }

      &:nth-child(9) {
        top: 90%;
        left: 65%;
        width: 3%;
        animation: fall-from-top 50s linear infinite;
      }

      &:nth-child(10) {
        top: 90%;
        left: 20%;
        width: 3%;
        animation: rotate 10s linear infinite;
      }

      &:nth-child(11) {
        top: 20%;
        left: 80%;
        width: 2%;
      }
    }
  }
}
// ANIMATION //

@keyframes fall-from-top {
  0% {
    top: -10%;
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(360deg);
  }
  40% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(360deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    top: 110%;
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes moveY {
  0% {
  }
  50% {
    transform: translateY(40%);
  }
  100% {
  }
}

@keyframes moveX {
  0% {
  }
  50% {
    transform: translateX(40%);
  }
  100% {
  }
}

// SECTIONS //
.homepage {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "upper__title"
    "lower__title";

  .upper__title {

    grid-area: upper__title;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .title {
      margin: 0;
      font-size: 2.5em;
      text-align: center;
      span {
        font-weight: bold;
      }
    }
  }

  .lower__title {
    grid-area: lower__title;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      font-size: 0.7em;
    }

    a {
      padding: .5em;
      font-size: 0.6em;
      font-weight: bold;
    }
  }
}

.underline--magical {
  background-image: linear-gradient(120deg, #faf884 0%, #edf48f 100%);
  background-repeat: no-repeat;
  background-size: 30% 0.5em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 88%;
  }
}
